<!DOCTYPE html>
<html>
<head>
  <title>SampleApplication</title>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	<a href="/users/index">Go back</a>
</p>
<p>
	<a href="/users/list">View Users</a>
</p>
<%= yield %>

</body>
</html>
